<div class="modal fade" id="viewNotesModal" tabindex="-1" role="dialog" aria-labelledby="viewNotesModalLabel"
	aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="viewNotesModalLabel">View Notes</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">Hide</span>
				</button>
			</div>
			<div class="modal-body" id="notesList">
				<!-- The notes will be populated here by the AJAX call -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>